.place__title {
    margin: 0;
    padding: 0;
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-column: 1 / 2;
    text-align: left;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        padding-left: calc(16 * 100% / 320);
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
}
