.lead {
    outline: 1px solid red;
    margin: 0 auto;
    padding: 56px 148px 0 148px;
    max-width: 984px;
}

.lead__title {
    outline: 1px solid red;
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

.lead__subtitle {
    outline: 1px solid red;
    margin: 32px auto 64px;
    padding: 0;
    max-width: 640px;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    outline: 1px solid red;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    object-fit: cover;
    display: block;
}

.lead__caption {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    max-width: 158px;
    max-height: 14px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
}