@font-face {
  src: url(../fonts/Inter/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(../fonts/Inter/Inter-SemiBold.woff) format('woff');
  font-family: 'Inter-Semi-Bold';
  font-weight: 600;
}

@font-face {
  src: url(../fonts/Inter/Inter-Bold.woff) format('woff');
  font-family: 'Inter-Bold';
  font-weight: bold;
}



