@import url(normalize.css);
@import url(fonts.css);

@import url(header/header.css);
@import url(lang/__link/lang__link.css);
@import url(lang/__link/_underlined/lang__link_underlined.css);
@import url(lang/__list/lang__list.css);
@import url(lang/lang.css);
@import url(../logo/logo.css);

@import url(lead/lead.css);
@import url(lead/__title/lead__title.css);
@import url(lead/__subtitle/lead__subtitle.css);
@import url(lead/__image/lead__image.css);
@import url(lead/__caption/lead__caption.css);

@import url(intro/intro.css);
@import url(intro/__title/intro__title.css);
@import url(intro/__text/intro__text.css);
@import url(intro/__list/intro__list.css);
@import url(intro/__list-lang/intro__list-lang.css);

@import url(photo-grid/photo-grid.css);
@import url(photo-grid/__cards/photo-grid__cards.css);
@import url(photo-grid/__item/photo-grid__item.css);

@import url(places/places.css);
@import url(places/place/place.css);
@import url(places/place/__title/place__title.css);
@import url(places/place/__image/place__image.css);
@import url(places/place/__website/place__website.css);
@import url(places/place/__url-heading/place__url-heading.css);
@import url(places/place/__link/place__link.css);
@import url(places/place/__paragraphs/place__paragraphs.css);
@import url(places/place/__paragraph/place__paragraph.css);

@import url(cover/cover.css);
@import url(cover/__background/cover__background.css);
@import url(cover/__title/cover__title.css);
@import url(cover/__subtitle/cover__subtitle.css);
@import url(cover/__overlay/cover__overlay.css);

@import url(footer/footer.css);
@import url(../nav/nav.css);
@import url(../nav/__list/nav__list.css);
@import url(../nav/__links/nav__links.css);
@import url(../nav/__link/nav__link.css);
@import url(footer/__copyright/footer__copyright.css);


.page {
    margin: 0 auto;
    background: #2A2C2F;
    color: #fff;
    padding: 0;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
}

