.nav__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .nav__links {
        padding: 0 0 32px 0;
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (max-width: 320px) {
    .nav__links {
        padding: 0 0 32px 0;
        font-size: 24px;
        line-height: 24px;
    }
}
