.intro {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    padding: 92px 0 0 148px;
    text-align: left;
    overflow:hidden;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        padding: 92px 0 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 88px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding: 64px 0 0 16px;
    }
}









