.cover__background {
    max-width: 1184px;
    text-decoration: none;
    background-image: url("../../../images/sprint-3-images/cover-trains.jpg");
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(245 * 100% / 1184);
}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: 0.3s;
}

.cover__background:hover::before {
    opacity: 0.8;
}
