.cover__title {
    margin: 0;
    padding: 0;
    max-width: 1094px;
    min-height: 152px;
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    z-index: 4;
}

@media screen and (max-width:767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        min-height: 70px;
    }
}
