@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 0 24px;
        flex-direction: column;
        max-width: 720px;
    }
}

    .footer {
        outline: 1px solid red;
        margin: 0 auto;
        padding: 0 48px 24px 48px;
        max-width: 1184px;
        display: flex;
        justify-content: space-between;

    }


.footer__links {
    outline: 1px solid red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer__link {
    outline: 1px solid red;
    text-decoration: none;
    margin: 0 18px 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__copyright {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
    @media screen and (max-width:767px) {
        .footer__copyright {
            line-height: 1;
        }
    }
