.footer {
    margin: 0 auto;
    padding-bottom: 24px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 48px 24px 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {
  .footer {
        padding: 0 188px 24px 16px;
        max-width: 288px;
    }
}








